*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(94, 20, 20, 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  place-items: end;
  max-width: 1140px;
  gap: 30px;
}

.content__list {
  flex-direction: column;
  display: flex;
  gap: 30px;
}

.content__details {
  grid-area: details;
  width: 100%;
  height: 100%;
  }
  
  
  .content__list-container {
    position: relative;
    height: 320px;
    padding-top: 26px;
    overflow: auto;
  }
  
  
  .content__video-card {
   display: flex;
  flex-direction: row;
  justify-content: end;
  /* align-items: stretch; */
  }
  
  .content__video-card-thumbnail {
    width: 194px;
    height: 103px;
  object-position: center;
  object-fit: cover;
  }
  
  .content__video-card-description-container {
    flex-grow: 1;

  }
  
  .content__video-card-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
  
    font-size: 18px;
    font-weight: 400;
    line-height: 16.2px;
    margin-top: 6px;
  }

.result {
  grid-area: result;
  width: 711px;
  height: 456px;
  /* width: 100%;
  height: 100%; */
  }
    
 .result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  }
    
  .result__video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

.search-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.search-form__submit-button {
  all: unset;
    display: flex;
justify-content: center;
align-items: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
width: 194px;
height: 34px;
border: 1px solid #fff;
cursor: pointer;
margin-top: 16px;
}

.search-form__textfield::placeholder {
  color: #fff; /* Белый цвет текста в плейсхолдере */
}

.search-form__fieldset-title {
font-size: 18px;
font-weight: 400;
line-height: 21.6px;
padding-bottom: 5px;
}

.search-form__fieldset {
position: relative;
border: none;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end:  1px solid #fff;
width: 225px;
  }


.search-form__label {
cursor: pointer;
}

.search-form__label-text {
/* padding-right: 5px; */
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
clip: rect(0, 0, 0, 0);
overflow: hidden;
white-space: nowrap;
}

.title {
font-family: 'Oswald', sans-serif;
font-size: 75px;
font-weight: 700;
text-transform: uppercase;
line-height: 70.5px;
}
.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
  color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
line-height: 30px;
text-overflow: ellipsis;
}

